* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  display: grid;
}

main {
  height: 33.6rem;
  display: flex;
  width: 82.1rem;
  gap: 19.2rem;
  align-self: center;
}

.timer {
  margin-top: 25.4rem;
  margin-left: 23rem;
  width: 32rem;
  display: flex;
  justify-content: center;
  

  font-family: 'Roboto', sans-serif;
  font-size: 12.6rem;
  line-height: 14.8rem;
  text-transform: uppercase;
  color: #323238;
  
}
.controls {
  margin-top: 1.7rem;
  margin-left: 23rem;
  width: 32rem;

  display: flex;
  gap: 4rem;
}

.controls button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.cards button {
  width: 13.8rem;
  height: 15.2rem;
  border-radius: 2.4rem;
  cursor: pointer;
}

.cards {
  margin-top: 19.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;

}

.cards button:hover{
  background-color: hsla(194, 97%, 31%, 1);
}

.cards button:hover svg path{
  fill: white;
}

.cards button {
  border: none;
  background-color: #E1E1E6;
  
}

.cards .active{
 background: hsla(194, 97%, 31%, 1);
}

.active svg path {
  fill: white;
}



